<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Art W - Forgot Password </title>
</head>
<body>
  
<div class="container" style="max-width:767px; width:100%; margin:0 auto;">
 <table style="max-width:600px;border: 1px solid #eee;" width="100%" cellspacing="0" cellpadding="0" align="center">
 		<tbody><tr style="padding:0 15px;" bgcolor="">
        	<td style="padding:0;border-top:3px solid #5A738E" cellpadding="0" cellspacing="0" bgcolor="#fff" align="center">
            <table style="font-family: sans-serif;" width="100%">	
            	<tbody><tr><td style="color: rgb(26, 187, 156); text-align: center; text-transform: uppercase; font-weight: bold; font-size: 22px;">The Art W </td></tr> 
               </tbody></table>
            </td>
        </tr>
        <tr style="" bgcolor="#fff">
        	<td style="padding:30px  15px 0;">
                <table style="font-family: sans-serif;" width="100%">
                	<tbody><tr>
                         <td width="100%">
                        <h1 style="color:#113846;font-size:20px;margin:15px 0 8px;font-style: italic;">New Password </h1>
                        	

                        	<div style="padding-bottom:50px;">
                            Hello {{ $data['name'] }},

                            <p style="margin: 37px 0px;"> 
                                Your New Password is {{  $data['password'] }}
                            </p>

                             <div>
                            	<p style="margin:0;">Thanks for your preference,</p>
                                <h5 style="margin:0;color:#505050;font-size:16px;">The Art W</h5>
                            </div>
                            </div>
                        </td>
                        
                         
                        	
                        
                    </tr>
                	
                </tbody></table>
        	</td>
        </tr> 
        
        <tr bgcolor="#5A738E">
        	<td>
            	<table style="font-family: sans-serif;" width="100%">
                	<tbody><tr>
                    	<td style="color:#fff"><p style="margin:0;font-size:12px;padding:10px 0;text-align:center;">&copy; 
                        Copyright 2020 The Art W Pty Ltd. All Rights Reserved.</p></td>
                    </tr>
                </tbody></table>
            </td>
		</tr> 	
 </tbody></table>



</div>

</body>
</html>